@font-face {
    font-family: MyCustomFont; /* 自定义字体名称 */
    src: url('ZuiShenDeYeLiZuiWenRou-2.ttf'); /* 字体文件的路径 */
}
@keyframes moveDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100px); /* 元素向下移动 100px */
    }
}
button {
    width: 200px;
    height: 100px;
    background-color: #0008ff; /* 设置背景颜色 */
    border-radius: 20px; /* 设置圆角 */
    border: none;
    transition: background-color,  0.7s ease;
    opacity: 0; /* 设置按钮透明度 */
    color: white;
    font-family: MyCustomFont, sans-serif;
    font-weight: bold;
}
button:hover {
    background-color: #b700ff;
    opacity: 0.7;
}
button.active {
    opacity: 0.4; /* 设置按钮透明度 */
}

body {
    background-image: url('images/大厅背景1.jpg'); /* 设置背景图片 */
    background-color: #f0f0f0; /* 设置背景颜色 */
    background-size: cover;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.component {
    position: absolute;
    top: 50px; /* 距离顶部 50 像素 */
    left: 100px; /* 距离左侧 100 像素 */
}
pre {
    font-family: MyCustomFont, sans-serif;
    white-space: pre-line;
    color: rgb(255, 0, 0);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    font-weight: bold;
}
pre.active {
    opacity: 0.7;
}
@media only screen and (max-width: 640px) {
    /*这里书写手机端的css代码，手机端的css代码是在pc端的代码基础上书写，类似于补充*/
    button {
        width: 200px;
        height: 100px;
    }
  
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    padding: 10px;
    border: 1px solid #0008ff;
    border-radius: 5px;
    background-color: #0008ff;
    transition: border-color 0.3s ease;
    opacity: 0.4;
    font-family: MyCustomFont, sans-serif;
    font-weight: bold;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus {
    border-color: #b700ff;
    font-family: MyCustomFont, sans-serif;
    font-weight: bold;
}
input::placeholder {
    color: #ff0000;
    font-size: 20px;
}